@model EntityLINQ.Models.IndexVM
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Customer</h1>

</div>


<form class="jumbotron" action="/Views/Home/Index.cshtml">
    <table class="table table-bordered table-striped">

        @foreach (var item in Model.Customers1)
        {
            <tr><td>@item.Id</td><td>@item.Name</td><td>@item.Birthday</td></tr>
        }



    </table>
</form>
